@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using System.Linq;
@using System;
@using ToSic.Sxc.Services;
@{
  var queryEvents = AsList(Data["Events"]).GroupBy(c => c.Start.ToString("MM.yyyy"));
  var listSettings = Content;
}

<div class="app-events6 app-events6-list" @Edit.TagToolbar(listSettings, toolbar: new [] { "+new&title=" + Resources.LabelAddEvent + "?contentType=Event" })>
  @* Events for Admin which don't have a date yet *@
  @Html.Partial("_List.PartEventsWithoutDates.cshtml")

  <table class="table table-hover">
  @foreach (var e in queryEvents) {
    @* Events in month *@
    foreach (var d in e) {
      if (Edit.Enabled || d.Event.ShowInLanguage != false) {
        var item = d.Event;
        var detailslink = Link.To(parameters: "details=" + @item.EntityId + "&dateid=" + d.EntityId + "&" + item.UrlKey);
          
        <tr class="position-relative app-events6-list-item" @Edit.TagToolbar(d.Event, toolbar: new [] {
          "toolbar=empty", "+edit"
        })>
					<td>
						@item.Title @((Text.Has(d.TitleAddition)) ? "- " + d.TitleAddition : "" )
					</td>
					<td class="event-meta">
						@d.Start.ToString("d") @(!d.EndDateIsStartDate ? "- " + d.End.ToString("d") : "")
					</td>
					<td>
						@item.Category.Title
					</td>
					<td>
						@item.Location
					</td>
					<td>
						<a class="stretched-link" href="@detailslink">›</a>
					</td>
        </tr>
      }
    }
  }
  </table>

  @Html.Partial("_List.PartAdmin.cshtml")
</div>

@Html.Partial("shared/_Assets.cshtml") 
