@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data

@* Other Dates of Event *@
@{
  var futureDates = AsList<EventDate>(MyData["FutureDates"]);
  var pastDates = futureDates.Where(d => d.End.Date < DateTime.Now.Date).Count();

  var item = As<Event>(MyModel.Item("Item"));
  var hasEventDate = MyModel.Bool("HasEventDate");
  var eventDate = As<EventDate>(MyModel.Item("FirstEventDate"));

  var eventToolbar = Kit.Toolbar.Empty()
    .Settings(show: "always")
    .New("EventDate", tweak: b => b.Prefill("Event", item.Guid))
    .Data("Registrations", tweak: b => b.Filter("Course", item.Id));

  var toolbarTemplate = Kit.Toolbar.Empty().Edit().Copy().Delete();
}

<div class="app-events6-further-events" @eventToolbar >

  @if (futureDates.Count() == 0 && MyUser.IsContentAdmin) {
    <h5 class="mb-4 mt-4">@App.Resources.NoEventDates</h5>
  } else if (futureDates.Count() > 1 || MyUser.IsContentAdmin) {              
    <h5 class="mb-3 mt-4">@App.Resources.AllDatesOfThisEvent (@(futureDates.Count() - pastDates))</h5>
  }

  @if (futureDates.Any()) {
    if (MyUser.IsContentAdmin && pastDates > 0) {
      <small><a href="javascript:void(0)" class="js-app-events6-toggle-expired-dates">@App.Resources.BtnToggleExpiredDate</a></small>
    }

    <ul class="list-group list-group-flush mb-4">
      @foreach (var date in futureDates) 
      {
        var currentEventClass = (hasEventDate && date.Id == eventDate.Id) ? "current" : "";
        var hiddenEvent = ((hasEventDate && date.End.Date < DateTime.Now.Date) || (date.End.Date < DateTime.Now.Date) ? "event-hidden" : "");
        var dateRegistrations = date.Parents(type: "Registrations");
        var regCount = dateRegistrations == null ? 0 : dateRegistrations.Count();
        var toolbarDate = toolbarTemplate
          .Data("Registrations", tweak: b => b.Tooltip(App.Resources.LabelRegistrations).Filter("EventDate", date.Id));

        <li class="list-group-item mb-0 @currentEventClass @hiddenEvent" @toolbarDate.For(date)>
          <a href='@Link.To(parameters: MyPage.Parameters.Set("dateId", date.Id))'>
            <strong>@date.DateTime("Start").ToString("d")  @(!date.Bool("EndDateIsStartDate") ? " - " + date.End.ToString("d") : "")</strong>
            @(date.IsNotEmpty("TitleAddition") ? " - " + date.TitleAddition : "")
            @(date.IsNotEmpty("TimeSpecifics") ? " - " + date.TimeSpecifics : "")
            @if (MyUser.IsContentAdmin) {
              @("(" + regCount + " " + App.Resources.LabelRegistrations + ")")
            }
          </a>
        </li>
      }
    </ul>
  }
</div>