@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data

@{
  // Data from Query - Stream "Event" contains the event, "Current" contains the selected date (if any)
  var eventData = AsList<Event>(MyData["Event"]).FirstOrDefault();
  var firstEventDate = AsList<EventDate>(MyData["Current"]).FirstOrDefault();
  
  var hasEventDate = firstEventDate != null;

  // Check if this event exists - if not, 404 not-found
  if (eventData == null) {
    <h1>@App.Resources.LabelEventNotExists</h1>
    <p>@App.Resources.LabelEventNotExistsText</p>

    @BackToListButton();
    Kit.Page.SetHttpStatus(404);
    return;
  }

  var item = hasEventDate ? firstEventDate.Event : eventData;
  var registrations = AsList<Registrations>(MyData["Registrations"]);
  var freeSeats = (firstEventDate == null ? 0 : firstEventDate.Seats) - registrations.Count();

  // Dates to show in various scenarios
  var eventStart = hasEventDate ? firstEventDate.Start.ToString("dd.MM.yyyy HH:mm") : "";
  var eventEnd = (hasEventDate && !firstEventDate.EndDateIsStartDate) ? " - " + firstEventDate.End.ToString("d") : "";

  // Set page title
  var titleSuffix = hasEventDate
    ? " | " + eventStart + eventEnd
    : "";
  Kit.Page.SetTitle(item.Title + titleSuffix + " | ");

  // Prepare toolbar without "new"
  var itemToolbar = Kit.Toolbar.Default().New("-");

  // Stack the event date info from the first event date or the event itself
  var eventDateInfo = AsStack(firstEventDate, item);
}

<div class="app-events6 app-events6-detail" @itemToolbar.For(item)>
  <div class="app-events6-detail-content mb-4">
    <h1 class="m-0">@Title(item, firstEventDate)</h1>

    <div class="event-meta">
      @if (hasEventDate) {
        <span class="app-events6-date">@eventStart @eventEnd</span>
      }
      <span class="app-events6-categories">@(item.IsNotEmpty("Category.Title") ? " | " + item.Category.Title : "")</span>    </div>
  </div>

  <div class="app-events6-detail-content">
    <div class="row">
      <div class='@(Kit.Css.Is("bs3") ? "col-xs-12" : "col-12") @(item.IsNotEmpty("Image") ? "col-md-8" : "") order-1 order-md-0'>
        <h2 class="h5">@item.ShortDescription</h2>
        @* Show main body, with possible Inner-Content *@
        <div class="app-events6-detail-body mb-4">
          @Kit.Render.All(item, field: "BodyContentBlocks", merge: item.Description)
        </div>

        @Html.Partial("Details.PartDates.cshtml", new { item, hasEventDate, firstEventDate })

        <div class="app-events6-detail-infos row mb-4">
          @* Event Location *@
          @DetailsBox(App.Resources.Location, eventDateInfo.String("Location"))

          @* Event Leader *@
          @DetailsBox(App.Resources.Management, eventDateInfo.String("Person"))
          @* Event Fee *@
          @DetailsBox(App.Resources.Fee, eventDateInfo.String("Fee"))
          @* Event Registration / Seat Info *@
          @* TODO:: *@
          @if (hasEventDate && firstEventDate.RegistrationEnabled && !firstEventDate.IsFullyBooked && !firstEventDate.IsCancelled  && firstEventDate.Int("Seats", fallback: -1) != -1) {
            @DetailsBox(App.Resources.Seats, freeSeats.ToString())
          }
          @* Event Time *@
          @DetailsBox(App.Resources.DateTime, eventDateInfo.String("TimeSpecifics"))

          @* Event more detail file/link *@
          @{
            var moreDetailsLink = eventDateInfo.String("Document");
          }

          @if (Text.Has(moreDetailsLink)) {
            var fileName = System.IO.Path.GetFileName(moreDetailsLink);
            <div class="col-12 col-md-6 mb-3 app-events6-infocontainer">
              <h6>@App.Resources.DetailsLink</h6>
              <a href="@moreDetailsLink" target="_blank">@fileName</a>
            </div>
          }
        </div>

        @* Event Status (Registration, Canceled, Overbooked) *@
        @{
          var addBackButton = true;
        }
        @if (hasEventDate && firstEventDate.IsCancelled == true) {
          <div class="alert alert-warning">
            @App.Resources.StatusCanceled
          </div>
        } else if (App.Settings.RegistrationEnabled && hasEventDate && firstEventDate.RegistrationEnabled) {
          if (freeSeats <= 0 || firstEventDate.IsFullyBooked) {
            <div class="alert alert-warning">
              @App.Resources.StatusFullyBooked
            </div>
          } else {
            var registerParams = "mid=" + MyContext.Module.Id + "&courseId=" + item.Id + "&dateId=" + firstEventDate.Id + "&" + item.UrlKey;
            addBackButton = false;  // disable this, as we'll add now so it's before the register button
            @BackToListButton()
            <a class="btn btn-md btn-primary" href="@Link.To(parameters: registerParams)">@Html.Raw(App.Resources.ButtonRegister)</a>
          }
        }
        @if (addBackButton) {
          @BackToListButton()
        }
      </div>

      @if (item.IsNotEmpty("Image")) {
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          @item.Picture("Image", factor: "1/3", imgClass:"img-fluid d-block m-auto", imgAltFallback: item.Title)
        </div>
      }
    </div>
  </div>
</div>

@Html.Partial("shared/Assets.cshtml")