@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@* @using System.Web; *@
@{
  var fieldBuilder = CreateInstance("shared/FieldBuilder.cs");
  var course = AsList(App.Data["Event"])
              .FirstOrDefault(x => x.EntityId == System.Convert.ToInt32(CmsContext.Page.Parameters["courseId"]));
  var eventDate = AsList(App.Data["EventDate"])
              .FirstOrDefault(ed => ed.EntityId == System.Convert.ToInt32(CmsContext.Page.Parameters["dateId"].Split("/")[0]));
  var title = course == null ? "" : course.Title;
  var page = GetService<ToSic.Sxc.Web.IPageService>(); // Service to set titles etc. on the page
  page.SetTitle(Resources.CourseRegistrationTitle + " | " + title);

  var eventsDomId = "app-events6-js" + CmsContext.Module.Id;
}

@* Show warning if 404, event not found *@
@if (course == null)
{
  <div class="alert alert-danger" role="alert">
    <span class="sr-only">Error:</span>
    @Resources.CourseNotFoundError
  </div>
}
else
{
  @* Show warning if App-Settings not configured *@
  if (!Text.Has(Settings.OwnerMail) || !Text.Has(Settings.MailFrom))
  {
    <div class="alert alert-warning" @Edit.TagToolbar()>
      @Html.Raw(Resources.MessageDefaultMailSettings.Replace("<p>", "").Replace("</p>", ""))
    </div>
  }

  @* additional text in title if set *@
  var titleAddition = (!String.IsNullOrEmpty(eventDate.TitleAddition)) 
    ? Resources.TitleAdditionPrefix + " " + eventDate.TitleAddition + " " + Resources.TitleAdditionSuffix 
    : "";

  <div class="app-events6 app-events6-form" 
    @Edit.TagToolbar(eventDate) 
    data-string-required="@Resources.ValidationRequired" 
    data-string-email="@Resources.ValidationEmail"
  >
    @* Title *@
    <h1 class="mb-4">@Resources.CourseRegistrationTitle - @course.Title @titleAddition</h1>

    <div class="form app-events6-form @eventsDomId">
      @* Inputs *@
      @{
        var inputTitle = Text.First(eventDate.Title, course.Title) + titleAddition;
      }
      @fieldBuilder.Text("CourseNumber", false, true, ((eventDate.Id != null) ? eventDate.Id : course.id))
      @fieldBuilder.Text("CourseName", true, true, inputTitle)
      @fieldBuilder.Text("CourseLocation", true, true, Text.First(eventDate.Location, course.Location))

      @* Event Notes *@
      @{
        var compDate = eventDate.Start.ToString("d") + ((eventDate.End != null) ? " - " + eventDate.End.ToString("d") : "");
      }
      @fieldBuilder.Multiline(Resources.LabelCourseDate, true, true, (Text.Has(eventDate.TimeSpecifics) ? eventDate.TimeSpecifics : compDate))

      @* Salutation *@
      <h3>@Resources.CourseParticipantData</h3>
      <div class="form-group row">
        @fieldBuilder.Label(Resources.LabelParticipantSalutation, "Salutation", true)
        <div class="col-sm-9 radio-group">
          <div class="radio">
            <label>
              <input required data-pristine-required-message name="Salutation" type="radio" value="@Resources.LabelMrs">
              @Resources.LabelMrs
            </label>
          </div>
          <div class="radio">
            <label>
              <input required data-pristine-required-message name="Salutation" type="radio" value="@Resources.LabelMr">
              @Resources.LabelMr
            </label>
          </div>
        </div>
      </div>

      @* Inputs *@
      @fieldBuilder.Text("FirstName", true)
      @fieldBuilder.Text("LastName", true)
      @fieldBuilder.Text("Street", true)
      @fieldBuilder.Text("ZIPCity", true)


      @* Country Select *@
      @fieldBuilder.DropDown("Country", true, Resources.CountrySelection.Split('\n'))

      @* Inputs *@
      @fieldBuilder.Text("Phone", false)
      @fieldBuilder.Text("MobilePhone", false)
      @fieldBuilder.EMail("Mail", true)


      @* Privacy/Terms Checkbox *@
      <div class="form-group row form-required">
        <label class="col-sm-3" for="AGB">@Resources.AppAgbLabel</label>
        <div class="col-sm-9">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" id="AGB" name="AGB" required />
              @Html.Raw(Resources.AcceptAgb.Replace("<p>", "").Replace("</p>", ""))
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row form-required">
        <label class="col-sm-3" for="Accept">@Resources.AppCostsLabel</label>
        <div class="col-sm-9">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" id="Accept" name="Accept" required />
              @Html.Raw(Resources.AcceptCosts.Replace("<p>", "").Replace("</p>", ""))
            </label>
          </div>
        </div>
      </div>

      @* Submit Button *@
      <div class="form-group row">
        <div class="col-md-9 offset-sm-3" )>
          <button type="button" class="btn-send-events-form btn btn-primary">@Html.Raw(Resources.ButtonRegister)</button>
        </div>
      </div>

      <input type="hidden" id="EventDateEntity" name="EventDateEntity" value="@eventDate.EntityGuid">
      <input type="hidden" id="Course" name="Course" value="@course.EntityGuid">

      @* Response Messages *@
      <div id="msgSending" class="alert alert-warning app-events6-message" role="alert">
        @Html.Raw(Resources.MessageSending.Replace("<p>", "").Replace("</p>", ""))
      </div>
      <div id="msgIncomplete" class="alert alert-danger app-events6-message">@Html.Raw(Resources.ValidationRequired)</div>
      <div id="msgError" class="alert alert-danger app-events6-message" role="alert">
        @Html.Raw(Resources.CourseRegistrationError.Replace("<p>", "").Replace("</p>", ""))
      </div>
      <div id="msgOk" class="alert alert-success app-events6-message" role="alert">
        <strong>@Html.Raw(Resources.SuccessThanks)</strong>
        @Html.Raw(Resources.SuccessMessage)
      </div>
    </div>
  </div>
}

@Html.Partial("shared/_Assets.cshtml")