@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  string detailsLink;
  var events = AsList(Data["Events"]).GroupBy(c => c.Start.ToString("MM.yyyy"));
  var eventPage = CmsContext.Site.Url;
  var listSettings = Content;
  var listToolbar = new [] {
      "group=add-event-buttons",
      "+new&title=new event&group=add-event-buttons?contentType=Event&entityId=0", // adds new event
      "+contentitems&title=show event data&group=add-event-buttons?contentType=Event", // shows event data
      "+new&color=red&title=new event date&group=add-event-buttons?contentType=EventDate&entityId=0", // adds new event date
      "+contentitems&title=show event date data&color=red&group=add-event-buttons?contentType=EventDate", // shows event date data
      "+contentitems&title=show registration data&color=orange&group=add-event-buttons?contentType=Registration", // shows registration data
    };
}
<div class="app-events6 app-events6-list" @Edit.TagToolbar(listSettings, toolbar: listToolbar)>
  @foreach (var e in events) {
    var eventDate = e.First().Start;
    @* Grouped months *@
    <h2>
      @e.First().Start.ToString("MMMM")
      @* show year if not current year *@
      @if (DateTime.Now.Year != eventDate.Year) {
        <span class="year">@eventDate.ToString("yyyy")</span>
      }
    </h2>
    
    @* Events in month *@
    foreach (var d in e) {
      if (Edit.Enabled || d.Event.ShowInLanguage != false) {
        var item = d.Event;
        var detailslink = Link.To(parameters: "details=" + @d.EntityId) + "/" + item.UrlKey;
          
        <div class="row position-relative app-events6-list-item mb-4" @Edit.TagToolbar(d.Event, toolbar: new [] {
          "toolbar=empty", "+edit"
        })>
          <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0">
            <div class='app-events6-img @(Text.Has(item.Image) ? "" : "app-noimg")'>
                <div class="overlay" style='@(Text.Has(item.Image) ? "" : "background-image: url('" + App.Path + "/src/images/trans.png?max-width=600&amp;mode=max&amp;scale=both&amp;quality=80')")'></div>
                <img loading="lazy" class="img-fluid" src='@Link.Image(url: (Text.Has(item.Image) ? item.Image : Resources.PlaceHolderImg), width: 800, height: 480, resizeMode: "crop", quality: 80)' alt="@item.Title" />
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-8 position-static">
            <div class="app-events6-text">
              <h2>@item.Title @((Text.Has(d.TitleAddition)) ? "- " + d.TitleAddition : "" ) @if(d.Event.ShowInLanguage == false && Edit.Enabled) { <span style="color:red;">(in dieser Sprache ausgeblendet)</span> }</h2>
              <div class="event-meta mb-3">
                <span class="app-events6-date">@d.Start.ToString("d") @((d.End != null) ? "- " + d.End.ToString("d") : "")</span>
                <span class="app-events6-categories"> | @item.Category.Title</span>
              </div>

              @if(Text.Has(item.ShortDescription)) {
                <p>@item.ShortDescription.Replace("\n", "<br />")</p>
              }

              <a class="stretched-link" href="@detailslink">@Html.Raw(Resources.LabelReadMore)</a>
            </div>
          </div>
        </div>
      }
    }
  }

  @Html.Partial("_EventList.PartPaging.cshtml", new { EventPage = eventPage }) 
</div>

@Html.Partial("shared/_Assets.cshtml") 
