@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@if (Edit.Enabled) {
  <div class="alert alert-info">
    <strong>@Resources.Admin </strong>
    <button type="button" class="btn btn-secondary" onclick="$2sxc.cms.run(this, 'contentitems', { contentType: 'Event' })">@Resources.BtnEvents</button>
    <button type="button" class="btn btn-secondary" onclick="$2sxc.cms.run(this, 'contentitems', { contentType: 'EventDate' })">@Resources.BtnEventDates</button>
    <button type="button" class="btn btn-secondary" onclick="$2sxc.cms.run(this, 'contentitems', { contentType: 'Registration' })">@Resources.BtnRegistrations</button>
    <button type="button" class="btn btn-primary" onclick="$2sxc.cms.run(this, 'new', { contentType: 'Event', entityId: 0 })">@Resources.BtnNewEvent</button>
    <button type="button" class="btn btn-primary" onclick="$2sxc.cms.run(this, 'new', { contentType: 'EventDate', entityId: 0 })">@Resources.BtnNewEventDate</button>
  </div>
}