@inherits Custom.Hybrid.RazorPro
@using ToSic.Razor.Blade;

@* Other Dates of Event *@
@{
  var futureDates = AsItems(MyData["FutureDates"]);
  var pastDates = futureDates.Where(d => d.DateTime("End").Date < DateTime.Now.Date).Count();

  var item = MyModel.Item("Item");
  var hasEventDate = MyModel.Bool("hasEventDate");
  var eventDate = MyModel.Item("eventDate");

  var eventToolbar = Kit.Toolbar.Empty()
    .Settings(show: "always")
    .New("EventDate", tweak: b => b.Prefill("Event", item.Guid))
    .Data("Registrations", tweak: b => b.Filter("Course", item.Id));

  var toolbarTemplate = Kit.Toolbar.Empty().Edit().Copy().Delete();
}

<div class="app-events6-further-events" @eventToolbar >
  @if (futureDates.Count() == 0 && MyUser.IsContentAdmin) {
    <h5 class="mb-4 mt-4">@App.Resources.String("NoEventDates")</h5>
  } else if (futureDates.Count() > 1 || MyUser.IsContentAdmin) {              
    <h5 class="mb-3 mt-4">@App.Resources.String("AllDatesOfThisEvent") (@(futureDates.Count() - pastDates))</h5>
  }

  @if (futureDates.Any()) {
    if (MyUser.IsContentAdmin && pastDates > 0) {
      <small><a href="javascript:void(0)" class="js-app-events6-toggle-expired-dates">@App.Resources.String("BtnToggleExpiredDate")</a></small>
    }

    <ul class="list-group list-group-flush mb-4">
      @foreach (var d in futureDates) {
        var currentEventClass = (hasEventDate && d.Id == eventDate.Id) ? "current" : "";
        var hiddenEvent = ((hasEventDate && d.DateTime("End").Date < DateTime.Now.Date) || (d.DateTime("End").Date < DateTime.Now.Date) ? "event-hidden" : "");
        var dateRegistrations = d.Parents("Registrations");
        var regCount = dateRegistrations == null ? 0 : dateRegistrations.Count();
        var toolbarDate = toolbarTemplate
          .Data("Registrations", tweak: b => b.Tooltip(App.Resources.String("LabelRegistrations")).Filter("EventDate", d.Id));

        <li class="list-group-item mb-0 @currentEventClass @hiddenEvent" @toolbarDate.For(d)>
          <a href='@Link.To(parameters: MyPage.Parameters.Set("dateId", d.Id))'>
            <strong>@d.DateTime("Start").ToString("d")  @(!d.Bool("EndDateIsStartDate") ? " - " + d.DateTime("End").ToString("d") : "")</strong>
            @(Text.Has(d.String("TitleAddition")) ? " - " + d.String("TitleAddition") : "")
            @(Text.Has(d.String("TimeSpecifics")) ? " - " + d.String("TimeSpecifics") : "")
            @if (MyUser.IsContentAdmin) {
              @("(" + regCount + " " + App.Resources.String("LabelRegistrations") + ")")
            }
          </a>
        </li>
      }
    </ul>
  }
</div>