
@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data
@using System.Linq
@using System

@{
  // Get the settings for the event list
  var listConfig = As<EventSettings>(MyItem);

  // Get all event dates from the query and group by year-month
  var queryEvents = AsList<EventDate>(MyData.GetStream("EventDates")).GroupBy(c => c.Start.ToString("MM.yyyy"));

  var contentSettings = Kit.Toolbar.Default().New("Event",  tweak: b => b.Tooltip(App.Resources.LabelAddEvent)); 
  var dEventToolbar = Kit.Toolbar.Empty().Edit();
  var categorie = listConfig.Categories.FirstOrDefault();
}

<div class="app-events6 app-events6-list" @contentSettings.For(listConfig)>
  @* Events for Admin which don't have a date yet *@
  @Html.Partial("List.PartEventsWithoutDates.cshtml")


  @if (listConfig.IsNotEmpty("Title") || categorie.IsNotEmpty("PageTitle"))
  {
    <h2 class="mb-4">
      @listConfig.Title @(categorie.IsNotEmpty("PageTitle") ? categorie.PageTitle : "")
    </h2>
  }

  <table class="table table-hover">
  @foreach (var e in queryEvents) 
  {
    @* Events in month *@
    foreach (var d in e) 
    {
      if (MyUser.IsContentAdmin || d.Event.ShowInLanguage != false) 
      {
        var item = d.Event;
        var detailslink = Link.To(parameters: MyPage.Parameters.Set("details", item.Id).Set("dateId", d.Id).Set(item.UrlKey));
        <tr class="position-relative app-events6-list-item" @dEventToolbar.For(d.Event)>
					<td>
						@item.Title @(d.IsNotEmpty("TitleAddition") ? "- " + d.TitleAddition : "" )
					</td>
					<td class="event-meta">
						@d.Start.ToString("d") @(!d.EndDateIsStartDate ? "- " + d.End.ToString("d") : "")
					</td>
					<td>
            @(item.Category != null ? " | " + item.Category.Title : "")
					</td>
					<td>
						@item.Location
					</td>
					<td>
						<a class="stretched-link" href="@detailslink">›</a>
					</td>
        </tr>
      }
    }
  }
  </table>

  @Html.Partial("List.PartAdmin.cshtml")
</div>

@Html.Partial("Assets.cshtml") 
