@inherits Custom.Hybrid.RazorPro
@using ToSic.Razor.Blade;
@using System.Linq;
@using System;
@{
  var queryEvents = AsItems(MyData["Events"]).GroupBy(c => c.DateTime("Start").ToString("MM.yyyy"));
  var listContent = MyItem;

  var mainToolbar = Kit.Toolbar.Default().New("Event", tweak: b => b.Tooltip(App.Resources.String("LabelAddEvent")));
  var eventToolbar = Kit.Toolbar.Empty().Edit();
}

<div class="app-events6 app-events6-list" @mainToolbar.For(listContent)>
  @* Events for Admin which don't have a date yet *@
  @Html.Partial("List.PartEventsWithoutDates.cshtml")
  
  <h2 class="mb-4">@(listContent.Child("Category") != null ? " | " + listContent.Child("Category").String("Title") : "")</h2>

  @foreach (var e in queryEvents) {
    var eventDate = e.First().DateTime("Start");
    @* Grouped months *@
    <h2>
      @e.First().DateTime("Start").ToString("MMMM")
      @* show year if not current year *@
      @if (DateTime.Now.Year != eventDate.Year) {
        <span class="year">@eventDate.ToString("yyyy")</span>
      }
    </h2>
    
    @* Events in month *@
    foreach (var d in e) {

      if (MyUser.IsContentAdmin || d.Child("Event").Bool("ShowInLanguage") != false) {
        var item = d.Child("Event");
        var detailslink = Link.To(parameters: MyPage.Parameters.Set("details", item.Id).Set("dateId", d.Id).Set(item.String("UrlKey")));

        var overlayStyle = Text.Has(item.String("Image"))
          ? "" 
          : "background-image: url('" + Link.Image( App.Path + "/src/images/trans.png", AllSettings.Dyn.Images.Content) + "');";
        
        var image = Text.Has(item.String("Image")) ? item.Field("Image") : App.Resources.Field("PlaceHolderImg");
          
        <div class="row position-relative app-events6-list-item mb-4" @eventToolbar.For(d.Child("Event"))>
          <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0">
            <div class='app-events6-img effect-zoom @(Text.Has(item.String("Image")) ? "" : "app-events6-noimg")'>
              <div class="overlay" style="@overlayStyle"></div>
              @Kit.Image.Picture(image, imgAltFallback: item.String("Title"))
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-8 position-static">
            <div class="app-events6-text">
              <h2>
                @item.String("Title") @((Text.Has(d.String("TitleAddition"))) ? "- " + d.String("TitleAddition") : "" )
                @if (d.Child("Event").Bool("ShowInLanguage") == false && MyUser.IsContentAdmin) { <span style="color:red;">@Kit.Scrub.Only(App.Resources.String("LanguageHidden"), "p")</span> }
              </h2>
              <div class="event-meta mb-3">
                <span class="app-events6-date">@d.DateTime("Start").ToString("d") @(!d.Bool("EndDateIsStartDate") ? "- " + d.DateTime("End").ToString("d") : "")</span>
               <span class="app-events6-categories">@(item.Child("Category") != null ? " | " + item.Child("Category").String("Title") : "")</span>
              </div>

              @if (Text.Has(item.String("ShortDescription"))) {
                <p>@Html.Raw(Tags.Nl2Br(item.String("ShortDescription")))</p>
              }

               <a class="stretched-link" href="@detailslink">@Html.Raw(App.Resources.String("LabelReadMore"))</a>
            </div>
          </div>
        </div>
      }
    }
  }

  @Html.Partial("List.PartPaging.cshtml") 
  @Html.Partial("List.PartAdmin.cshtml")
</div>

@Html.Partial("shared/Assets.cshtml") 
