@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using System;
@{
  var queryEvents = AsList(Data["Events"]).GroupBy(c => c.Start.ToString("MM.yyyy"));

  var contentSettings = Kit.Toolbar.Default().New("Event",  tweak: b => b.Tooltip( Resources.LabelAddEvent)); 

  var dEventToolbar = Kit.Toolbar.Empty().Edit();

}

<div class="app-events6 app-events6-list" @contentSettings.For(Content)>
  @* Events for Admin which don't have a date yet *@
  @Html.Partial("List.PartEventsWithoutDates.cshtml")

  @if (Text.Has(Content.Title)) {
    <h2 class="mb-4">@Content.Title</h2>
  }

  <table class="table table-hover">
  @foreach (var e in queryEvents) {
    @* Events in month *@
    foreach (var d in e) {
      if (Edit.Enabled || d.Event.ShowInLanguage != false) {
        var item = d.Event;
        var detailslink = Link.To(parameters: "details=" + @item.EntityId + "&dateid=" + d.EntityId + "&" + item.UrlKey);
          
        <tr class="position-relative app-events6-list-item" @dEventToolbar.For(d.Event)>
					<td>
						@item.Title @((Text.Has(d.TitleAddition)) ? "- " + d.TitleAddition : "" )
					</td>
					<td class="event-meta">
						@d.Start.ToString("d") @(!d.EndDateIsStartDate ? "- " + d.End.ToString("d") : "")
					</td>
					<td>
						@item.Category.Title
					</td>
					<td>
						@item.Location
					</td>
					<td>
						<a class="stretched-link" href="@detailslink">›</a>
					</td>
        </tr>
      }
    }
  }
  </table>

  @Html.Partial("List.PartAdmin.cshtml")
</div>

@Html.Partial("shared/Assets.cshtml") 
