@* This generates the e-mail subject *@
@functions {
	public string Subject(dynamic request, dynamic helpers) {
		return helpers.App.Resources.MailOwnerSubject;
	}
}

@* This generates the e-mail body *@
@helper Message(Dictionary<string,object> request, ToSic.SexyContent.IAppAndDataHelpers helpers)
{
    <!doctype html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            body { font-family: Helvetica, sans-serif; }
        </style>
    </head>
    <body>
        @(new HtmlString(helpers.App.Resources.MailOwnerIntroduction))
        <table>
            @*
            @foreach (var item in request)
            {
                <tr>
                    <th>@item.Key</th>
                    <td>@item.Value</td>
                </tr>
            }
            *@

            <tr>
                <th>Kursname</th>
                <td>@request["CourseName"]</td>
            </tr>

            @*
            <tr>
                <th>Detailliertes Datum</th>
                <td>@request["Date"]</td>
            </tr>
            *@

            <tr>
                <th>Anrede</th>
                <td>@request["Salutation"]</td>
            </tr>
            
            <tr>
                <th>Vorname</th>
                <td>@request["FirstName"]</td>
            </tr>

            <tr>
                <th>Nachname</th>
                <td>@request["LastName"]</td>
            </tr>

            <tr>
                <th>Strasse</th>
                <td>@request["Street"]</td>
            </tr>

            <tr>
                <th>PLZ / Stadt</th>
                <td>@request["ZIPCity"]</td>
            </tr>

            <tr>
                <th>Land</th>
                <td>@request["Country"]</td>
            </tr>

        </table>
    </body>
</html>
}